body {
  color: #000000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a:link {
  color: #ffffff;
}

a:hover {
  color: #abcaba;
}

/*-------- Header --------*/

.container {
  margin: 0 auto;
  padding: .75rem;
  max-width: 720px;
}

h1 {
	font-family: 'Ultra', serif;
	color: #ffffff;
	padding-left: 1rem;
}

.header {
  padding: .05rem;
  background: black;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  display: flex;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.812rem;
}

.main-nav-item {
  padding: .5rem;
  text-decoration: none;
}

.main-nav-item a {
  text-decoration: none;
 }

 /*------ Body -------*/

img {
  display: block;
  height: auto;
  width: 100%;
}

 .firstParagraph {
  font-weight: bold;
 }

 .secondParagraph {
  padding-bottom: 1rem;
 }

 p {
  max-width: 450px;
  margin: 0 auto;
  padding: 1rem;
 }

 /*------ Portfolio -------*/

 .gallery {
  display: grid;
  grid-gap: .25rem;
  grid-template-columns: repeat(2,1fr)
}

 /*------ Footer -------*/

 .bar {
  border-top: 2px solid black;
  max-width: 100%;
 }

 .footer {
  padding-bottom: 0.25rem;
  max-width:450px;
  padding-left: 1rem;
 }

/* ----- MEDIA QUERY ----- */

 @media screen and (min-width: 640px){
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main-nav-list {
    display: flex;
    font-size: 1rem;
  }

  p {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
 }

.footer {
  max-width: 600px;
  padding-left: 3.90rem;
}

.gallery {
  display: grid;
  grid-gap: .25rem;
  grid-template-columns: repeat(3,1fr)
}




